$handle_size: 15px;

.node {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    padding: 7px;

    .node-editable {
        border: none;
        width: 100px;
        min-width: 100px;
        margin: 0;
        overflow: hidden;
        border-radius: 5px;
        padding: 0;
        user-select: text;
    }

    .dragbar {
        background-color: black;
        border-radius: 10px;
        width: 100%;
        height: 3px;
        transition: height 200ms ease-out;
        cursor: move;
        position: absolute;
        left: 0;
        top: 0;

        &:hover {
            height: 5px;
        }
    }
  
    form {
      width: 100%;
      height: 100%;
    }
  
    textarea {
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        resize: none;
        border-radius: 5px;
        padding: 0;
        user-select: text;
    }
  
    textarea:focus {
      outline: none;
    }
  
    input {
      width: 100%;
      height: 100%;
      border: none;
      padding: 2px;
      margin: 0;
    }
  
    input:focus {
      outline: none;
    }

    .resize-handle {
        width: $handle_size;
        height: $handle_size;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        position: absolute;
        margin: 0;
        padding: 0;
        cursor: nesw-resize;

        &.handle-nw {
            left: 0;
            top: 0;
            cursor: nwse-resize;
        }
        &.handle-ne {
            left: calc(100% - #{$handle_size});
            top: 0;
        }
        &.handle-se {
            left: calc(100% - #{$handle_size});
            top: calc(100% - #{$handle_size});
            cursor: nwse-resize;
        }
        &.handle-sw {
            left: 0;
            top: calc(100% - #{$handle_size});
        }
    }
  }